---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/rails/rails/releases/latest
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '58'
      X-Ratelimit-Reset:
      - '1581709200'
      Etag:
      - W/"66e8294e268b2e9dbfb12773648a09a7"
      Last-Modified:
      - Wed, 18 Dec 2019 19:17:34 GMT
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"url":"https://api.github.com/repos/rails/rails/releases/22333644","assets_url":"https://api.github.com/repos/rails/rails/releases/22333644/assets","upload_url":"https://uploads.github.com/repos/rails/rails/releases/22333644/assets{?name,label}","html_url":"https://github.com/rails/rails/releases/tag/v6.0.2.1","id":22333644,"node_id":"MDc6UmVsZWFzZTIyMzMzNjQ0","tag_name":"v6.0.2.1","target_commitish":"master","name":"6.0.2.1","draft":false,"author":{"login":"rafaelfranca","id":47848,"node_id":"MDQ6VXNlcjQ3ODQ4","avatar_url":"https://avatars3.githubusercontent.com/u/47848?v=4","gravatar_id":"","url":"https://api.github.com/users/rafaelfranca","html_url":"https://github.com/rafaelfranca","followers_url":"https://api.github.com/users/rafaelfranca/followers","following_url":"https://api.github.com/users/rafaelfranca/following{/other_user}","gists_url":"https://api.github.com/users/rafaelfranca/gists{/gist_id}","starred_url":"https://api.github.com/users/rafaelfranca/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/rafaelfranca/subscriptions","organizations_url":"https://api.github.com/users/rafaelfranca/orgs","repos_url":"https://api.github.com/users/rafaelfranca/repos","events_url":"https://api.github.com/users/rafaelfranca/events{/privacy}","received_events_url":"https://api.github.com/users/rafaelfranca/received_events","type":"User","site_admin":false},"prerelease":false,"created_at":"2019-12-18T19:07:58Z","published_at":"2019-12-18T19:17:34Z","assets":[],"tarball_url":"https://api.github.com/repos/rails/rails/tarball/v6.0.2.1","zipball_url":"https://api.github.com/repos/rails/rails/zipball/v6.0.2.1","body":"##
        Active Support\r\n\r\n*   No changes.\r\n\r\n\r\n\r\n## Active Model\r\n\r\n*   No
        changes.\r\n\r\n\r\n\r\n## Active Record\r\n\r\n*   No changes.\r\n\r\n\r\n\r\n##
        Action View\r\n\r\n*   No changes.\r\n\r\n\r\n\r\n## Action Pack\r\n\r\n*   Fix
        possible information leak / session hijacking vulnerability.\r\n\r\n    The
        `ActionDispatch::Session::MemcacheStore` is still vulnerable given it requires
        the\r\n    gem dalli to be updated as well.\r\n\r\n    CVE-2019-16782.\r\n\r\n\r\n\r\n##
        Active Job\r\n\r\n*   No changes.\r\n\r\n\r\n\r\n## Action Mailer\r\n\r\n*   No
        changes.\r\n\r\n\r\n\r\n## Action Cable\r\n\r\n*   No changes.\r\n\r\n\r\n\r\n##
        Active Storage\r\n\r\n*   No changes.\r\n\r\n\r\n\r\n## Action Mailbox\r\n\r\n*   No
        changes.\r\n\r\n\r\n\r\n## Action Text\r\n\r\n*   No changes.\r\n\r\n\r\n\r\n##
        Railties\r\n\r\n*   No changes."}'
  recorded_at: Fri, 14 Feb 2020 18:44:09 GMT
recorded_with: VCR 5.1.0
