---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/rust-lang/rust/tags
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '52'
      X-Ratelimit-Reset:
      - '1581709200'
      Etag:
      - W/"0cb3476bf7a0f29f1c1c18a824bdb608"
      Last-Modified:
      - Fri, 14 Feb 2020 18:41:45 GMT
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/repositories/724712/tags?page=2>; rel="next", <https://api.github.com/repositories/724712/tags?page=3>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"release-0.7","zipball_url":"https://api.github.com/repos/rust-lang/rust/zipball/release-0.7","tarball_url":"https://api.github.com/repos/rust-lang/rust/tarball/release-0.7","commit":{"sha":"a2db7c15ce9f586164cabb15d83fb3f6bbeb3cf5","url":"https://api.github.com/repos/rust-lang/rust/commits/a2db7c15ce9f586164cabb15d83fb3f6bbeb3cf5"},"node_id":"MDM6UmVmNzI0NzEyOnJlbGVhc2UtMC43"},{"name":"release-0.6","zipball_url":"https://api.github.com/repos/rust-lang/rust/zipball/release-0.6","tarball_url":"https://api.github.com/repos/rust-lang/rust/tarball/release-0.6","commit":{"sha":"00dbbd01c2aee72982b3e0f9511ae1d4428c3ba9","url":"https://api.github.com/repos/rust-lang/rust/commits/00dbbd01c2aee72982b3e0f9511ae1d4428c3ba9"},"node_id":"MDM6UmVmNzI0NzEyOnJlbGVhc2UtMC42"},{"name":"release-0.5","zipball_url":"https://api.github.com/repos/rust-lang[...]
